# Get char ids w wget "https://api.eveonline.com/account/Characters.xml.aspx?keyID=<KEY>&vCode=<VCODE>"
# The below data is example only, it will not work
- first_name: X
  last_name: Y
  character_id: 98678321
  key_id: 2289078
  vcode: B5rqp2zXfr6BoBOm9i4mkK5BqiYc2M2Taugi2Jeew2txbRS6lsZI1xYtVY1NLWaX
- first_name: A
  last_name: B
  character_id: 91828721
  key_id: 2195212
  vcode: 64kLXZJQkujuj3e5E2wWJNrgSqF4AaZsC3Nkj83h3VV5XtB9jOX42DGbrGsnJOqe
